@import '../../assets/sass/_colors.scss';
@import '../../assets/sass/_typography-mixins.scss';

.list {
  display: block;
  padding: (4em/16) 0;
}

.group-section {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  ~ .list-item {
    padding: 0 1em;
  }

  &.noIndentGroupItems {
    ~ .list-item {
      padding: 0;
    }
  }
}

.divider {
  position: relative;
  width: 100%;
  height: (7rem/16);

  &:before {
    position: absolute;
    top: (3rem/16);
    left: 0;
    width: 100%;
    height: (1rem/16);
    content: ' ';
    background: rgba(0,0,0,.12);
  }
}

.list-item {
  @include body();

  display: flex;
  flex-direction: row;
  transition: background .3s ease-out;

  &.clickable {
    cursor: pointer;
  }

  &.hoverable {
    &:focus {
      background: $focusBGColor;
    }

    &:hover {
      background: $hoverBGColor;
    }

    &:active {
      background: $activeBGColor;
    }
  }

  &.simple {
    min-height: (40rem/16);
  }

  &.mixed {
    min-height: (48rem/16);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &.selected {
    background: $selectedBGColor;
  }
}

.avatar-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: (48rem/16);
}

.mixed {
  .action-section,
  .avatar-section {
    width: (56rem/16);
  }

  .avatar-section,
  .action-section {
    + .main-section > div {
      padding: .9em .3em;
    }
  }

  &.one-fixed {
    .main-section {
      width: calc(100% - 3.5rem);
    }
  }

  &.two-fixed {
    .main-section {
      width: calc(100% - 6.5rem);
    }
  }
}

.one-fixed {
  .main-section {
    width: calc(100% - 3rem);
  }
}

.two-fixed {
  .main-section {
    width: calc(100% - 6rem);
  }
}

.main-section {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;

  > div {
    padding: .6em 1em;
  }
}

.avatar-section,
.action-section {
  + .main-section > div {
    padding: .6em 0;
  }

  + .main-section:last-of-type {
    > div {
      padding-right: 1em;
    }
  }
}

.action-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: (48rem/16);
}
