@import '../../assets/sass/_colors.scss';

.file-progress {
  width: 100%;
  height: (42em/16);
  background: $grey200;
  border: 1px solid transparent;
  box-sizing: border-box;

  .progress {
    height: 100%;
    background: $blue200;
  }
}
