@import '../../assets/sass/_colors.scss';

.file-wrapper {
  position: relative;
  margin-bottom: (4em/16);
  background-color: $grey50;

  &:last-child {
    margin-bottom: 0;
  }
}

.file-item {
  border: 1px solid transparent;
  box-sizing: border-box;

  &.queued {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.invalid {
    border-color: $redA700;
  }

  &.uploaded {
    &.invalid-metadata {
      border-color: $redA700;
    }
  }

  svg {
    opacity: .8;
  }

  .file-item-wrapper {
    display: flex;
    justify-content: space-between;
    height: (40em/16);
    align-items: stretch;

    .file-icon {
      width: (40em/16);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .file-name {
      padding: 0 .3rem 0  .3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .file-message{
      flex: 1;
      padding: 0 .3rem 0 .3rem;
      display: flex;
      align-items: center;
    }

    .dismiss-icon {
      width: (40em/16);
      text-align: right;
    }
  }
}
