@import '../../assets/sass/_colors.scss';

.icon {
  display: block;
  overflow: hidden;
  width: (24rem/16);
  height: (24rem/16);

  fill: rgba($black, .54);

  &.disabled {
    opacity: .5;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  &.light {
    fill: rgba($white, .95);
  }
}
