.flyout-overlay {
  transform: translate3d(0,0,0);
  text-align: initial;
  opacity: 0;

  backface-visibility: hidden;

  > div {
    position: relative;
    display: block;
    height: 100%;
    border-width: 0;
    border-radius: 3px;
    background: #fff;
  }

  &.container {
    > div {
      padding: 1rem;
    }

    &.with-actions {
      > div {
        padding-bottom: (64rem/16);
      }
    }
  }

  &.with-actions {
    > div {
      padding-bottom: (48rem/16);
    }
  }
}

.flyout-container {
  position: absolute;
  z-index: 5;
  top: -9999px;
  left: -9999px;
  display: none;
  pointer-events: none;

  &.open {
    display: block;
    // animation: fadeIn .5s ease-out;
  }

  > * {
    pointer-events: auto;
  }
}

.header {
  padding: .85rem 1rem;
}

.flyout-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: (48rem/16);
  padding: 0 (6em/16);
  border-top: 1px solid #eee;

  > * {
    margin-left: 10px;
  }
}

.modal-overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    pointer-events: auto;
    background: rgba(#333, 0);
    background: rgba(#333, .60);
  }

  &.open {
    display: block;
  }
}
