.docked-flyout-container {
  position: fixed;
  z-index: 115;
  top: 0;
  left: 0;
  display: none;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &.on {
    display: flex;
  }
}
