.preloader-wrapper {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
}

.preloader-wrapper.small {
  width: 36px;
  height: 36px;
}

.preloader-wrapper.big {
  width: 64px;
  height: 64px;
}

.preloader-wrapper.active {
  animation: container-rotate 1568ms linear infinite;
}

@keyframes container-rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-color: rgba(#1e88e5, .7);
}

.active .spinner-layer.spinner-blue {
  animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both,blue-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.active .spinner-layer,
.active .spinner-layer.spinner-blue-only {
  animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
  opacity: 1;
}

@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg);
  }

  25% {
    transform: rotate(270deg);
  }

  37.5% {
    transform: rotate(405deg);
  }

  50% {
    transform: rotate(540deg);
  }

  62.5% {
    transform: rotate(675deg);
  }

  75% {
    transform: rotate(810deg);
  }

  87.5% {
    transform: rotate(945deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

@keyframes blue-fade-in-out {
  from {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  26% {
    opacity: 0;
  }

  89% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  overflow: hidden;
  width: 10%;
  height: 100%;
  border-color: inherit;
}

.gap-patch .circle {
  left: -450%;
  width: 1000%;
}

.circle-clipper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 50%;
  height: 100%;
  border-color: inherit;
}

.circle-clipper .circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200%;
  height: 100%;
  animation: none;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent !important;
  border-radius: 50%;
}

.circle-clipper.left .circle {
  left: 0;
  transform: rotate(129deg);
  border-right-color: transparent !important;
}

.circle-clipper.right .circle {
  left: -100%;
  transform: rotate(-129deg);
  border-left-color: transparent !important;
}

.active .circle-clipper.left .circle {
  animation: left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.active .circle-clipper.right .circle {
  -webkit-animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
  animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

@keyframes left-spin {
  from {
    transform: rotate(130deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(130deg);
  }
}

@keyframes right-spin {
  from {
    transform: rotate(-130deg);
  }

  50% {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(-130deg);
  }
}
