@import '../../assets/sass/_colors.scss';
.brand-logo {
  display: flex;
  align-items: center;
  padding: 0 (24rem/16);

  svg {
    fill: $white;
  }

  .title {
    font-size: 1.5rem;
    padding-left: 0.4em;
  }
}