.preloader-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: (200rem/16);

  .message {
    padding-bottom: 1em;
    text-align: center;
  }
}

.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: auto;
  background: rgba(255,255,255,.7);
}
