@import '../../assets/sass/_colors.scss';

.section {
  margin-bottom: (16rem/16);
  padding: 0 (24rem/16) (24rem/16) (24rem/16);

  &:first-of-type {
    border-top: none;
  }

  &.fullWidth {
    padding-right: 0;
    padding-left: 0;

    .title-section,
    .helper-text {
      padding-left: (24rem/16);
    }

    &.padContent {
      .content {
        padding: 0 (24rem/16);
      }
    }
  }
}

.title-section {
  position: relative;
  display: flex;
  align-items: center;
  min-height: (48rem/16);
  margin-bottom: .3rem;
  padding: (10rem/16) 0;
  background: $blueGrey50;
}

.helper-text {
  margin: .4rem 0;
}

.action-items {
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: (48rem/16);
}
